- Data wrangling and cleaning with pandas
- Handled NaN
- Replaced $, $B, $T, $M, and % from columns
- Changed date format
- Split string to make new columns
- Extracted the year from date
- Removed columns with unique value

In [215]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [216]:
file_address=r"./Data/stock_data_GF_2022-12-29.csv"
# file_address=r"./Data/stock_data_GF_2023-01-03.csv"
df=pd.read_csv(file_address)
df.head()

,Company,date_fetched,time_fetched (UTC),current_index_price,FinReported,Previous close,Day range,Year range,Market cap,Avg Volume,P/E ratio,Dividend yield,Primary exchange,CDP Climate Change Score,CEO,Founded,Headquarters,Website,Employees,Revenue,Operating expense,Net income,Net profit margin,Earnings per share,EBITDA,Effective tax rate,Cash and short-term investments,Total assets,Total liabilities,Total equity,Shares outstanding,Price to book,Return on assets,Return on capital,Cash from operations,Cash from investing,Cash from financing,Net change in cash,Free cash flow,Revenue Y/Y change,Operating expense Y/Y change,Net income Y/Y change,Net profit margin Y/Y change,Earnings per share Y/Y change,EBITDA Y/Y change,Effective tax rate Y/Y change,Cash and short-term investments Y/Y change,Total assets Y/Y change,Total liabilities Y/Y change,Total equity Y/Y change,Shares outstanding Y/Y change,Price to book Y/Y change,Return on assets Y/Y change,Return on capital Y/Y change,Cash from operations Y/Y change,Cash from investing Y/Y change,Cash from financing Y/Y change,Net change in cash Y/Y change,Free cash flow Y/Y change
0,AAPL,2022-12-29,20:32:04,$130.07,10/27/22,$126.04,$127.73 - $130.48,$125.87 - $182.94,2.07T USD,76.69M,21.26,0.71%,NASDAQ,A-,Tim Cook,"Apr 1, 1976","Cupertino, CaliforniaUnited States",apple.com,"164,000",90.15B,13.20B,20.72B,22.99,1.29,27.76B,15.96%,48.30B,352.76B,302.08B,50.67B,15.91B,39.64,18.06%,34.48%,24.13B,-1.22B,-26.79B,-3.88B,20.18B,8.14%,15.92%,0.83%,-6.73%,NaN,3.68%,NaN,-22.89%,0.50%,4.92%,NaN,NaN,NaN,NaN,NaN,19.44%,-245.75%,-31.46%,-694.79%,51.61%
1,MSFT,2022-12-29,20:32:08,$241.39,10/25/22,$234.53,$235.65 - $241.54,$213.43 - $343.13,1.80T USD,27.37M,26.01,1.13%,NASDAQ,A,Satya Nadella,"Apr 4, 1975","Redmond, WashingtonUnited States",microsoft.com,"221,000",50.12B,13.15B,17.56B,35.03,2.35,24.31B,18.62%,107.24B,359.78B,186.22B,173.57B,7.45B,10.07,14.85%,21.71%,23.20B,-3.13B,-10.88B,8.95B,15.02B,10.60%,15.04%,-14.38%,-22.59%,NaN,3.66%,NaN,-17.87%,7.26%,1.51%,NaN,NaN,NaN,NaN,NaN,-5.47%,3.63%,33.13%,81.20%,-18.12%
2,GOOGL,2022-12-29,20:32:12,$88.76,10/25/22,$86.02,$86.61 - $88.81,$83.34 - $151.55,1.15T USD,28.14M,17.96,NaN,NASDAQ,A-,Sundar Pichai,"Oct 2, 2015","Mountain View, CaliforniaUnited States",abc.xyz,"186,779",69.09B,20.80B,13.91B,20.13,1.06,21.18B,14.31%,116.26B,358.26B,104.63B,253.63B,12.94B,4.40,12.01%,15.10%,23.35B,-833.00M,-18.10B,4.05B,14.25B,6.10%,26.31%,-26.54%,-30.78%,NaN,-12.96%,NaN,-18.13%,3.12%,1.74%,NaN,NaN,NaN,NaN,NaN,-8.56%,91.71%,-18.64%,"4,448.31%",-16.47%
3,TSLA,2022-12-29,20:32:17,$121.13,10/19/22,$112.71,$117.50 - $123.57,$108.24 - $402.67,379.54B USD,116.00M,37.31,NaN,NASDAQ,NaN,Elon Musk,"Jul 1, 2003",NaN,tesla.com,"99,290",21.45B,1.69B,3.29B,15.34,1.05,4.64B,8.39%,21.11B,74.43B,33.30B,41.12B,3.16B,8.93,12.90%,20.19%,5.10B,-2.79B,-712.00M,1.26B,2.06B,55.95%,2.29%,103.46%,30.44%,NaN,67.96%,NaN,31.14%,28.69%,13.50%,NaN,NaN,NaN,NaN,NaN,62.06%,-50.46%,48.44%,"1,063.36%",27.47%
4,AMZN,2022-12-29,20:32:21,$84.44,10/27/22,$81.82,$82.55 - $84.42,$81.69 - $171.40,860.46B USD,75.69M,77.84,NaN,NASDAQ,NaN,Andy Jassy,"Jul 5, 1994","Seattle, WashingtonUnited States",amazon.com,"1,544,000",127.10B,54.31B,2.87B,2.26,0.28,12.73B,2.35%,58.66B,428.36B,290.87B,137.49B,10.20B,6.07,1.49%,2.14%,11.40B,-15.61B,3.02B,-2.52B,-2.40B,14.70%,26.21%,-9.00%,-20.70%,NaN,-7.76%,NaN,-25.73%,12.02%,11.09%,NaN,NaN,NaN,NaN,NaN,55.94%,-5.26%,208.65%,75.96%,23.81%

## Check for any NaN

In [217]:
df.isna().sum().any(),df.isna().sum().all()

(True, False)

- Some columns have NaN, while some columns are empty
- Let's drop empty columns first

In [218]:
print(f"df.shape (Before) = {df.shape}")
df=df[df.columns[(df.isna().sum()!=len(df)).values]]
print(f"df.shape (After) = {df.shape}")

df.shape (Before) = (10, 59)
df.shape (After) = (10, 52)

- Columns that still has NaN

In [219]:
print(df[df.columns[(df.isna().sum()!=0).values]].isna().sum())

Dividend yield              4
Primary exchange            1
CDP Climate Change Score    4
Headquarters                3
Website                     1
dtype: int64

In [220]:
df[df.columns[(df.isna().sum()!=0).values]]

,Dividend yield,Primary exchange,CDP Climate Change Score,Headquarters,Website
0,0.71%,NASDAQ,A-,"Cupertino, CaliforniaUnited States",apple.com
1,1.13%,NASDAQ,A,"Redmond, WashingtonUnited States",microsoft.com
2,NaN,NASDAQ,A-,"Mountain View, CaliforniaUnited States",abc.xyz
3,NaN,NASDAQ,NaN,NaN,tesla.com
4,NaN,NASDAQ,NaN,"Seattle, WashingtonUnited States",amazon.com
5,0.11%,NASDAQ,B,"Santa Clara, CaliforniaUnited States",nvidia.com
6,NaN,NASDAQ,NaN,NaN,NaN
7,1.20%,NaN,C,"Veldhoven, North BrabantNetherlands",asml.com
8,3.30%,NASDAQ,NaN,NaN,broadcom.com
9,3.19%,NASDAQ,A-,United Kingdom,cisco.com

In [221]:
# We only picked companies listed in the NASDAQ therefore, all companies will have same values
df["Primary exchange"][7]='NASDAQ'
# df.iloc[6]["Primary exchange"]

We can drop CDP, and website too because it says nothing about the share price

In [222]:
print(f"df.shape (Before) = {df.shape}")
df = df.drop(labels=["CDP Climate Change Score","Website"],axis=1)
print(f"df.shape (After) = {df.shape}")

df.shape (Before) = (10, 52)
df.shape (After) = (10, 50)

In [223]:
df[df.columns[(df.isna().sum()!=0).values]]

  Dividend yield                            Headquarters
0          0.71%      Cupertino, CaliforniaUnited States
1          1.13%        Redmond, WashingtonUnited States
2            NaN  Mountain View, CaliforniaUnited States
3            NaN                                     NaN
4            NaN        Seattle, WashingtonUnited States
5          0.11%    Santa Clara, CaliforniaUnited States
6            NaN                                     NaN
7          1.20%     Veldhoven, North BrabantNetherlands
8          3.30%                                     NaN
9          3.19%                          United Kingdom

In [224]:
df.loc[:,["Company","Dividend yield","Headquarters"]]

  Company Dividend yield                            Headquarters
0    AAPL          0.71%      Cupertino, CaliforniaUnited States
1    MSFT          1.13%        Redmond, WashingtonUnited States
2   GOOGL            NaN  Mountain View, CaliforniaUnited States
3    TSLA            NaN                                     NaN
4    AMZN            NaN        Seattle, WashingtonUnited States
5    NVDA          0.11%    Santa Clara, CaliforniaUnited States
6    META            NaN                                     NaN
7    ASML          1.20%     Veldhoven, North BrabantNetherlands
8    AVGO          3.30%                                     NaN
9    CSCO          3.19%                          United Kingdom

TSLA has a HQ in Austin, TX, USA
META has a HQ in Menlo Park, CA, USA
AVGO has a HQ in San Jose, CA, USA

In [225]:
df["Headquarters"][3]="Austin, TexasUnited States"
df["Headquarters"][6]="Menlo Park, CaliforniaUnited States"
df["Headquarters"][8]="San Jose, CaliforniaUnited States"

c:\Users\jaina\Anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\jaina\Anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\jaina\Anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [226]:
df.loc[:,["Company","Dividend yield","Headquarters"]]

  Company Dividend yield                            Headquarters
0    AAPL          0.71%      Cupertino, CaliforniaUnited States
1    MSFT          1.13%        Redmond, WashingtonUnited States
2   GOOGL            NaN  Mountain View, CaliforniaUnited States
3    TSLA            NaN              Austin, TexasUnited States
4    AMZN            NaN        Seattle, WashingtonUnited States
5    NVDA          0.11%    Santa Clara, CaliforniaUnited States
6    META            NaN     Menlo Park, CaliforniaUnited States
7    ASML          1.20%     Veldhoven, North BrabantNetherlands
8    AVGO          3.30%       San Jose, CaliforniaUnited States
9    CSCO          3.19%                          United Kingdom

Cisco (CSCO) has a HQ in  San Jose, CA, USA

In [227]:
df["Headquarters"][9]="San Jose, CaliforniaUnited States"

c:\Users\jaina\Anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

GOOGL, TSLA, AMZN, META neved paid a dividend, so we set their DY = 0

In [228]:
df["Dividend yield"]=df["Dividend yield"].fillna("0%")

In [229]:
df.isna().sum().sum()

0

Now df doesn't have a NaN

Let's separate out city, state and country from the Headquarters column

In [230]:
df["Headquarters"] = df["Headquarters"].apply(lambda x:x.replace("United",", United"))
df["Headquarters"] = df["Headquarters"].apply(lambda x:x.replace("Netherlands",", Netherlands"))
df["Headquarters"]

0        Cupertino, California, United States
1          Redmond, Washington, United States
2    Mountain View, California, United States
3                Austin, Texas, United States
4          Seattle, Washington, United States
5      Santa Clara, California, United States
6       Menlo Park, California, United States
7       Veldhoven, North Brabant, Netherlands
8         San Jose, California, United States
9         San Jose, California, United States
Name: Headquarters, dtype: object

In [231]:
df_new=df["Headquarters"].str.split(',', expand=True)
df_new.columns=["HQ City","HQ State", "HQ Country"]

In [232]:
df_new2=df["Day range"].str.split('-', expand=True)
df_new3=df["Year range"].str.split('-', expand=True)

df_new2.columns=["Day low ($)","Day high ($)"]
df_new3.columns=["Year low ($)","Year high ($)"]

In [233]:
df=pd.concat([df,df_new,df_new2,df_new3],axis=1)
df.drop(labels=["Headquarters","Day range","Year range"],axis=1,inplace=True)
del df_new
df

,Company,date_fetched,time_fetched (UTC),current_index_price,FinReported,Previous close,Market cap,Avg Volume,P/E ratio,Dividend yield,Primary exchange,CEO,Founded,Employees,Revenue,Operating expense,Net income,Net profit margin,Earnings per share,EBITDA,Effective tax rate,Cash and short-term investments,Total assets,Total liabilities,Total equity,Shares outstanding,Price to book,Return on assets,Return on capital,Cash from operations,Cash from investing,Cash from financing,Net change in cash,Free cash flow,Revenue Y/Y change,Operating expense Y/Y change,Net income Y/Y change,Net profit margin Y/Y change,EBITDA Y/Y change,Cash and short-term investments Y/Y change,Total assets Y/Y change,Total liabilities Y/Y change,Cash from operations Y/Y change,Cash from investing Y/Y change,Cash from financing Y/Y change,Net change in cash Y/Y change,Free cash flow Y/Y change,HQ City,HQ State,HQ Country,Day low ($),Day high ($),Year low ($),Year high ($)
0,AAPL,2022-12-29,20:32:04,$130.07,10/27/22,$126.04,2.07T USD,76.69M,21.26,0.71%,NASDAQ,Tim Cook,"Apr 1, 1976","164,000",90.15B,13.20B,20.72B,22.99,1.29,27.76B,15.96%,48.30B,352.76B,302.08B,50.67B,15.91B,39.64,18.06%,34.48%,24.13B,-1.22B,-26.79B,-3.88B,20.18B,8.14%,15.92%,0.83%,-6.73%,3.68%,-22.89%,0.50%,4.92%,19.44%,-245.75%,-31.46%,-694.79%,51.61%,Cupertino,California,United States,$127.73,$130.48,$125.87,$182.94
1,MSFT,2022-12-29,20:32:08,$241.39,10/25/22,$234.53,1.80T USD,27.37M,26.01,1.13%,NASDAQ,Satya Nadella,"Apr 4, 1975","221,000",50.12B,13.15B,17.56B,35.03,2.35,24.31B,18.62%,107.24B,359.78B,186.22B,173.57B,7.45B,10.07,14.85%,21.71%,23.20B,-3.13B,-10.88B,8.95B,15.02B,10.60%,15.04%,-14.38%,-22.59%,3.66%,-17.87%,7.26%,1.51%,-5.47%,3.63%,33.13%,81.20%,-18.12%,Redmond,Washington,United States,$235.65,$241.54,$213.43,$343.13
2,GOOGL,2022-12-29,20:32:12,$88.76,10/25/22,$86.02,1.15T USD,28.14M,17.96,0%,NASDAQ,Sundar Pichai,"Oct 2, 2015","186,779",69.09B,20.80B,13.91B,20.13,1.06,21.18B,14.31%,116.26B,358.26B,104.63B,253.63B,12.94B,4.40,12.01%,15.10%,23.35B,-833.00M,-18.10B,4.05B,14.25B,6.10%,26.31%,-26.54%,-30.78%,-12.96%,-18.13%,3.12%,1.74%,-8.56%,91.71%,-18.64%,"4,448.31%",-16.47%,Mountain View,California,United States,$86.61,$88.81,$83.34,$151.55
3,TSLA,2022-12-29,20:32:17,$121.13,10/19/22,$112.71,379.54B USD,116.00M,37.31,0%,NASDAQ,Elon Musk,"Jul 1, 2003","99,290",21.45B,1.69B,3.29B,15.34,1.05,4.64B,8.39%,21.11B,74.43B,33.30B,41.12B,3.16B,8.93,12.90%,20.19%,5.10B,-2.79B,-712.00M,1.26B,2.06B,55.95%,2.29%,103.46%,30.44%,67.96%,31.14%,28.69%,13.50%,62.06%,-50.46%,48.44%,"1,063.36%",27.47%,Austin,Texas,United States,$117.50,$123.57,$108.24,$402.67
4,AMZN,2022-12-29,20:32:21,$84.44,10/27/22,$81.82,860.46B USD,75.69M,77.84,0%,NASDAQ,Andy Jassy,"Jul 5, 1994","1,544,000",127.10B,54.31B,2.87B,2.26,0.28,12.73B,2.35%,58.66B,428.36B,290.87B,137.49B,10.20B,6.07,1.49%,2.14%,11.40B,-15.61B,3.02B,-2.52B,-2.40B,14.70%,26.21%,-9.00%,-20.70%,-7.76%,-25.73%,12.02%,11.09%,55.94%,-5.26%,208.65%,75.96%,23.81%,Seattle,Washington,United States,$82.55,$84.42,$81.69,$171.40
5,NVDA,2022-12-29,20:32:26,$146.28,11/16/22,$140.36,359.97B USD,44.40M,62.22,0.11%,NASDAQ,Jensen Huang,Apr 1993,"22,473",5.93B,2.58B,680.00M,11.47,0.58,1.01B,-10.93%,13.14B,40.49B,19.14B,21.35B,2.46B,16.23,3.58%,4.36%,392.00M,3.15B,-3.75B,-213.00M,528.00M,-16.50%,31.43%,-72.40%,-66.94%,-66.08%,-31.89%,-0.35%,13.69%,-74.19%,170.92%,-164.30%,95.09%,-74.44%,Santa Clara,California,United States,$142.27,$146.80,$108.13,$307.11
6,META,2022-12-29,20:32:31,$120.79,10/26/22,$115.62,320.23B USD,31.36M,11.52,0%,NASDAQ,Mark Zuckerberg,Feb 2004,"87,314",27.71B,15.95B,4.40B,15.86,1.64,8.25B,21.18%,41.78B,178.89B,54.80B,124.09B,2.65B,2.48,8.71%,10.37%,9.69B,-9.70B,2.15B,1.77B,-840.88M,-4.47%,24.49%,-52.20%,-49.95%,-33.55%,-28.07%,5.49%,51.28%,-31.21%,"-2,839.70%",114.08%,203.87%,-109.66%,Menlo Park,California,United States,$115.77,$120.81,$88.09,$347.23
7,ASML,2022-12-29,20:32:35,$552.89,10/18/22,$531.64,223.75B USD,1.02M,37.38,1.20%,NASDAQ,Peter Wennink,1984,"34,720",5.78B,1.06B,1.70B,29.45,4.29,2.08B,12.90%,3.36B,32.80B,24.85B,7.96B,396.20M,26.48,14.98%,41.21%,1.17B,-508.90M,-1.61B,-943.70M,1.13B,10.25%,33.22%,-2.22%,-11.30%,2.01%,-24.53%,20.17%,57.31%,-35.09%,-82.01%,32.58%,-8.73%,-33.69%,Veldhoven,North Brabant,Netherlands,$540.15,$555.37,$363.15,$808.29
8,AVGO,2022-12-29,20:32:39,$557.97,12/8/22,$544.89,233.09B USD,2.42M,21.02,3.30%,NASDAQ,Hock E. Tan,1961,"20,000",8.93B,2.63B,3.36B,37.61,10.45,5.29B,7.21%,12.42B,73.25B,50.54B,22.71B,417.89M,10.03,13.84%,16.25%,4.58B,-128.00M,-2.02B,2.44B,3.36B,20.56%,-8.65%,68.88%,40.07%,26.44%,2.08%,-3.07%,-0.08%,29.43%,-356.00%,20.41%,130.53%,12.91%,San Jose,California,United States,$550.50,$562.60,$415.07,$675.70
9,CSCO,2022-12-29,20:32:43,$47.60,11/16/22,$47.07,195.53B USD,19.27M,17.22,3.19%,NASDAQ,Chuck Robbins,"Dec 10, 1984","83,300",13.63B,4.81B,2.67B,19.59,0.86,3.96B,23.17%,19.78B,93.05B,52.78B,40.27B,4.11B,4.79,9.46%,17.61%,3.96B,-799.00M,-2.86B,213.00M,3.10B,5.67%,4.68%,-10.40%,-15.19%,-1.00%,-15.28%,-3.05%,-0.93%,15.61%,21.67%,28.09%,113.63%,35.39%,San Jose,California,United States,$47.26,$47.74,$38.60,$64.14

# Remove $ and USD from the current_index_price, and other columns

In [234]:
# df["current_index_price"] = df["current_index_price"].str.strip("$")
# df["Previous close"] = df["Previous close"].str.strip("$")

temp=[]
for col in df.select_dtypes("object").columns:
    if df[col].str.contains("\$").all():
        # print("yes", col)
        df[col]=df[col].str.replace("\$","", regex = True)
        df[col]=df[col].apply(lambda x:float(x))
        temp.append(col)

df["Market cap"] = df["Market cap"].str.strip(" USD")

In [235]:
df[temp]

,current_index_price,Previous close,Day low ($),Day high ($),Year low ($),Year high ($)
0,130.07,126.04,127.73,130.48,125.87,182.94
1,241.39,234.53,235.65,241.54,213.43,343.13
2,88.76,86.02,86.61,88.81,83.34,151.55
3,121.13,112.71,117.50,123.57,108.24,402.67
4,84.44,81.82,82.55,84.42,81.69,171.40
5,146.28,140.36,142.27,146.80,108.13,307.11
6,120.79,115.62,115.77,120.81,88.09,347.23
7,552.89,531.64,540.15,555.37,363.15,808.29
8,557.97,544.89,550.50,562.60,415.07,675.70
9,47.60,47.07,47.26,47.74,38.60,64.14

## Remove %

In [236]:
temp=[]
for col in df.select_dtypes("object").columns:
    if df[col].str.contains("%").any():
        
        df[col]=df[col].str.strip("%")
        df.rename(columns = {f"{col}":f"{col} %"}, inplace = True)
        temp.append(f"{col} %")

In [237]:
df[temp]

,Dividend yield %,Effective tax rate %,Return on assets %,Return on capital %,Revenue Y/Y change %,Operating expense Y/Y change %,Net income Y/Y change %,Net profit margin Y/Y change %,EBITDA Y/Y change %,Cash and short-term investments Y/Y change %,Total assets Y/Y change %,Total liabilities Y/Y change %,Cash from operations Y/Y change %,Cash from investing Y/Y change %,Cash from financing Y/Y change %,Net change in cash Y/Y change %,Free cash flow Y/Y change %
0,0.71,15.96,18.06,34.48,8.14,15.92,0.83,-6.73,3.68,-22.89,0.50,4.92,19.44,-245.75,-31.46,-694.79,51.61
1,1.13,18.62,14.85,21.71,10.60,15.04,-14.38,-22.59,3.66,-17.87,7.26,1.51,-5.47,3.63,33.13,81.20,-18.12
2,0,14.31,12.01,15.10,6.10,26.31,-26.54,-30.78,-12.96,-18.13,3.12,1.74,-8.56,91.71,-18.64,"4,448.31",-16.47
3,0,8.39,12.90,20.19,55.95,2.29,103.46,30.44,67.96,31.14,28.69,13.50,62.06,-50.46,48.44,"1,063.36",27.47
4,0,2.35,1.49,2.14,14.70,26.21,-9.00,-20.70,-7.76,-25.73,12.02,11.09,55.94,-5.26,208.65,75.96,23.81
5,0.11,-10.93,3.58,4.36,-16.50,31.43,-72.40,-66.94,-66.08,-31.89,-0.35,13.69,-74.19,170.92,-164.30,95.09,-74.44
6,0,21.18,8.71,10.37,-4.47,24.49,-52.20,-49.95,-33.55,-28.07,5.49,51.28,-31.21,"-2,839.70",114.08,203.87,-109.66
7,1.20,12.90,14.98,41.21,10.25,33.22,-2.22,-11.30,2.01,-24.53,20.17,57.31,-35.09,-82.01,32.58,-8.73,-33.69
8,3.30,7.21,13.84,16.25,20.56,-8.65,68.88,40.07,26.44,2.08,-3.07,-0.08,29.43,-356.00,20.41,130.53,12.91
9,3.19,23.17,9.46,17.61,5.67,4.68,-10.40,-15.19,-1.00,-15.28,-3.05,-0.93,15.61,21.67,28.09,113.63,35.39

## Remove M and B from columns

- Find columns with Bs

In [238]:
billions=[]
for col in df.select_dtypes("object").columns:
    # print(col)
    if df[col].str.contains("B").all():
        billions.append(col)
# billions

if len(billions):
    print(billions)
    for col in billions:
        # df[col]=df[col].apply(lambda x:x.replace("B",""))
        df[col]=df[col].str.strip("B")
        df.rename(columns = {f"{col}":f"{col} ($B)"}, inplace = True)

['Revenue', 'Operating expense', 'EBITDA', 'Cash and short-term investments', 'Total assets', 'Total liabilities', 'Total equity']

- Remove Ks

In [239]:
Ks=[]
for col in df.select_dtypes("object").columns:
    # print(col)
    if df[col].str.contains("K").all():
        Ks.append(col)
# billions
if len(Ks):
    print(Ks)
    for col in Ks:
        df[col]=df[col].str.strip("K")
        df[col]=df[col].apply(lambda x:float(x))
        df.rename(columns = {f"{col}":f"{col} in ($K)"}, inplace = True)

- Remove Ms

In [240]:
millions=[]
for col in df.select_dtypes("object").columns:
    # print(col)
    if df[col].str.contains("M").all():
        millions.append(col)
# billions
if len(millions):
    print(millions)
    for col in millions:
        df[col]=df[col].str.strip("M")
        df[col]=df[col].apply(lambda x:float(x))
        df.rename(columns = {f"{col}":f"{col} in ($M)"}, inplace = True)

['Avg Volume']

In [241]:
trillions=[]
for col in df.select_dtypes("object").columns:
    # print(col)
    if df[col].str.contains("T").all():
        trillions.append(col)
# billions
if len(trillions):
    print(trillions)
    for col in trillions:
        df[col]=df[col].str.strip("T")
        df[col]=df[col].apply(lambda x:float(x))
        df.rename(columns = {f"{col}":f"{col} in ($T)"}, inplace = True)

## columns with M, B, and T

In [242]:
temp=[]
for col in df.select_dtypes("object").columns:
    # print(col)
    if df[col].str.contains("K|M|B|T").any():
        temp.append(col)
temp

['Company',
 'Market cap',
 'CEO',
 'Net income',
 'Shares outstanding',
 'Cash from operations',
 'Cash from investing',
 'Cash from financing',
 'Net change in cash',
 'Free cash flow',
 'HQ City',
 'HQ State']

In [243]:
df[temp]

,Company,Market cap,CEO,Net income,Shares outstanding,Cash from operations,Cash from investing,Cash from financing,Net change in cash,Free cash flow,HQ City,HQ State
0,AAPL,2.07T,Tim Cook,20.72B,15.91B,24.13B,-1.22B,-26.79B,-3.88B,20.18B,Cupertino,California
1,MSFT,1.80T,Satya Nadella,17.56B,7.45B,23.20B,-3.13B,-10.88B,8.95B,15.02B,Redmond,Washington
2,GOOGL,1.15T,Sundar Pichai,13.91B,12.94B,23.35B,-833.00M,-18.10B,4.05B,14.25B,Mountain View,California
3,TSLA,379.54B,Elon Musk,3.29B,3.16B,5.10B,-2.79B,-712.00M,1.26B,2.06B,Austin,Texas
4,AMZN,860.46B,Andy Jassy,2.87B,10.20B,11.40B,-15.61B,3.02B,-2.52B,-2.40B,Seattle,Washington
5,NVDA,359.97B,Jensen Huang,680.00M,2.46B,392.00M,3.15B,-3.75B,-213.00M,528.00M,Santa Clara,California
6,META,320.23B,Mark Zuckerberg,4.40B,2.65B,9.69B,-9.70B,2.15B,1.77B,-840.88M,Menlo Park,California
7,ASML,223.75B,Peter Wennink,1.70B,396.20M,1.17B,-508.90M,-1.61B,-943.70M,1.13B,Veldhoven,North Brabant
8,AVGO,233.09B,Hock E. Tan,3.36B,417.89M,4.58B,-128.00M,-2.02B,2.44B,3.36B,San Jose,California
9,CSCO,195.53B,Chuck Robbins,2.67B,4.11B,3.96B,-799.00M,-2.86B,213.00M,3.10B,San Jose,California

- Fix Market cap, Net income, Shares outstanding, Cash from operations, investing, and financing, Net change in cash, and free cash flow

In [244]:
print(temp)
for rem in ['Company','CEO','HQ City', 'HQ State']:
    temp.remove(rem)
print(temp)

['Company', 'Market cap', 'CEO', 'Net income', 'Shares outstanding', 'Cash from operations', 'Cash from investing', 'Cash from financing', 'Net change in cash', 'Free cash flow', 'HQ City', 'HQ State']
['Market cap', 'Net income', 'Shares outstanding', 'Cash from operations', 'Cash from investing', 'Cash from financing', 'Net change in cash', 'Free cash flow']

In [245]:
df[temp]

,Market cap,Net income,Shares outstanding,Cash from operations,Cash from investing,Cash from financing,Net change in cash,Free cash flow
0,2.07T,20.72B,15.91B,24.13B,-1.22B,-26.79B,-3.88B,20.18B
1,1.80T,17.56B,7.45B,23.20B,-3.13B,-10.88B,8.95B,15.02B
2,1.15T,13.91B,12.94B,23.35B,-833.00M,-18.10B,4.05B,14.25B
3,379.54B,3.29B,3.16B,5.10B,-2.79B,-712.00M,1.26B,2.06B
4,860.46B,2.87B,10.20B,11.40B,-15.61B,3.02B,-2.52B,-2.40B
5,359.97B,680.00M,2.46B,392.00M,3.15B,-3.75B,-213.00M,528.00M
6,320.23B,4.40B,2.65B,9.69B,-9.70B,2.15B,1.77B,-840.88M
7,223.75B,1.70B,396.20M,1.17B,-508.90M,-1.61B,-943.70M,1.13B
8,233.09B,3.36B,417.89M,4.58B,-128.00M,-2.02B,2.44B,3.36B
9,195.53B,2.67B,4.11B,3.96B,-799.00M,-2.86B,213.00M,3.10B

In [246]:
for col in temp:
    rows_k = df[col].index[df[col].str.contains("K").values]
    rows_b = df[col].index[df[col].str.contains("B").values]
    rows_m = df[col].index[df[col].str.contains("M").values]
    rows_t = df[col].index[df[col].str.contains("T").values]

    if len(rows_k):
        rows=rows_k
        df.loc[rows,col]=df.loc[rows,col].apply(lambda x:x.replace("K",""))
        df.loc[rows,col]=df.loc[rows,col].apply(lambda x:float(x)/1000)  # K TO M

    if len(rows_b):
        rows=rows_b
        df.loc[rows,col]=df.loc[rows,col].apply(lambda x:x.replace("B",""))
        df.loc[rows,col]=df.loc[rows,col].apply(lambda x:float(x)*1000)  # B TO M

    if len(rows_m):
        rows=rows_m
        df.loc[rows,col]=df.loc[rows,col].apply(lambda x:x.replace("M",""))
        df.loc[rows,col]=df.loc[rows,col].apply(lambda x:float(x)*1)  

    if len(rows):
        rows=rows_t
        df.loc[rows,col]=df.loc[rows,col].apply(lambda x:x.replace("T",""))
        df.loc[rows,col]=df.loc[rows,col].apply(lambda x:float(x)*1000000) # T to M 
    
    df.rename(columns = {f"{col}":f"{col} ($M)"}, inplace = True)

In [247]:
df

,Company,date_fetched,time_fetched (UTC),current_index_price,FinReported,Previous close,Market cap ($M),Avg Volume in ($M),P/E ratio,Dividend yield %,Primary exchange,CEO,Founded,Employees,Revenue ($B),Operating expense ($B),Net income ($M),Net profit margin,Earnings per share,EBITDA ($B),Effective tax rate %,Cash and short-term investments ($B),Total assets ($B),Total liabilities ($B),Total equity ($B),Shares outstanding ($M),Price to book,Return on assets %,Return on capital %,Cash from operations ($M),Cash from investing ($M),Cash from financing ($M),Net change in cash ($M),Free cash flow ($M),Revenue Y/Y change %,Operating expense Y/Y change %,Net income Y/Y change %,Net profit margin Y/Y change %,EBITDA Y/Y change %,Cash and short-term investments Y/Y change %,Total assets Y/Y change %,Total liabilities Y/Y change %,Cash from operations Y/Y change %,Cash from investing Y/Y change %,Cash from financing Y/Y change %,Net change in cash Y/Y change %,Free cash flow Y/Y change %,HQ City,HQ State,HQ Country,Day low ($),Day high ($),Year low ($),Year high ($)
0,AAPL,2022-12-29,20:32:04,130.07,10/27/22,126.04,2070000.0,76.69,21.26,0.71,NASDAQ,Tim Cook,"Apr 1, 1976","164,000",90.15,13.20,20720.0,22.99,1.29,27.76,15.96,48.30,352.76,302.08,50.67,15910.0,39.64,18.06,34.48,24130.0,-1220.0,-26790.0,-3880.0,20180.0,8.14,15.92,0.83,-6.73,3.68,-22.89,0.50,4.92,19.44,-245.75,-31.46,-694.79,51.61,Cupertino,California,United States,127.73,130.48,125.87,182.94
1,MSFT,2022-12-29,20:32:08,241.39,10/25/22,234.53,1800000.0,27.37,26.01,1.13,NASDAQ,Satya Nadella,"Apr 4, 1975","221,000",50.12,13.15,17560.0,35.03,2.35,24.31,18.62,107.24,359.78,186.22,173.57,7450.0,10.07,14.85,21.71,23200.0,-3130.0,-10880.0,8950.0,15020.0,10.60,15.04,-14.38,-22.59,3.66,-17.87,7.26,1.51,-5.47,3.63,33.13,81.20,-18.12,Redmond,Washington,United States,235.65,241.54,213.43,343.13
2,GOOGL,2022-12-29,20:32:12,88.76,10/25/22,86.02,1150000.0,28.14,17.96,0,NASDAQ,Sundar Pichai,"Oct 2, 2015","186,779",69.09,20.80,13910.0,20.13,1.06,21.18,14.31,116.26,358.26,104.63,253.63,12940.0,4.40,12.01,15.10,23350.0,-833.0,-18100.0,4050.0,14250.0,6.10,26.31,-26.54,-30.78,-12.96,-18.13,3.12,1.74,-8.56,91.71,-18.64,"4,448.31",-16.47,Mountain View,California,United States,86.61,88.81,83.34,151.55
3,TSLA,2022-12-29,20:32:17,121.13,10/19/22,112.71,379540.0,116.00,37.31,0,NASDAQ,Elon Musk,"Jul 1, 2003","99,290",21.45,1.69,3290.0,15.34,1.05,4.64,8.39,21.11,74.43,33.30,41.12,3160.0,8.93,12.90,20.19,5100.0,-2790.0,-712.0,1260.0,2060.0,55.95,2.29,103.46,30.44,67.96,31.14,28.69,13.50,62.06,-50.46,48.44,"1,063.36",27.47,Austin,Texas,United States,117.50,123.57,108.24,402.67
4,AMZN,2022-12-29,20:32:21,84.44,10/27/22,81.82,860460.0,75.69,77.84,0,NASDAQ,Andy Jassy,"Jul 5, 1994","1,544,000",127.10,54.31,2870.0,2.26,0.28,12.73,2.35,58.66,428.36,290.87,137.49,10200.0,6.07,1.49,2.14,11400.0,-15610.0,3020.0,-2520.0,-2400.0,14.70,26.21,-9.00,-20.70,-7.76,-25.73,12.02,11.09,55.94,-5.26,208.65,75.96,23.81,Seattle,Washington,United States,82.55,84.42,81.69,171.40
5,NVDA,2022-12-29,20:32:26,146.28,11/16/22,140.36,359970.0,44.40,62.22,0.11,NASDAQ,Jensen Huang,Apr 1993,"22,473",5.93,2.58,680.0,11.47,0.58,1.01,-10.93,13.14,40.49,19.14,21.35,2460.0,16.23,3.58,4.36,392.0,3150.0,-3750.0,-213.0,528.0,-16.50,31.43,-72.40,-66.94,-66.08,-31.89,-0.35,13.69,-74.19,170.92,-164.30,95.09,-74.44,Santa Clara,California,United States,142.27,146.80,108.13,307.11
6,META,2022-12-29,20:32:31,120.79,10/26/22,115.62,320230.0,31.36,11.52,0,NASDAQ,Mark Zuckerberg,Feb 2004,"87,314",27.71,15.95,4400.0,15.86,1.64,8.25,21.18,41.78,178.89,54.80,124.09,2650.0,2.48,8.71,10.37,9690.0,-9700.0,2150.0,1770.0,-840.88,-4.47,24.49,-52.20,-49.95,-33.55,-28.07,5.49,51.28,-31.21,"-2,839.70",114.08,203.87,-109.66,Menlo Park,California,United States,115.77,120.81,88.09,347.23
7,ASML,2022-12-29,20:32:35,552.89,10/18/22,531.64,223750.0,1.02,37.38,1.20,NASDAQ,Peter Wennink,1984,"34,720",5.78,1.06,1700.0,29.45,4.29,2.08,12.90,3.36,32.80,24.85,7.96,396.2,26.48,14.98,41.21,1170.0,-508.9,-1610.0,-943.7,1130.0,10.25,33.22,-2.22,-11.30,2.01,-24.53,20.17,57.31,-35.09,-82.01,32.58,-8.73,-33.69,Veldhoven,North Brabant,Netherlands,540.15,555.37,363.15,808.29
8,AVGO,2022-12-29,20:32:39,557.97,12/8/22,544.89,233090.0,2.42,21.02,3.30,NASDAQ,Hock E. Tan,1961,"20,000",8.93,2.63,3360.0,37.61,10.45,5.29,7.21,12.42,73.25,50.54,22.71,417.89,10.03,13.84,16.25,4580.0,-128.0,-2020.0,2440.0,3360.0,20.56,-8.65,68.88,40.07,26.44,2.08,-3.07,-0.08,29.43,-356.00,20.41,130.53,12.91,San Jose,California,United States,550.50,562.60,415.07,675.70
9,CSCO,2022-12-29,20:32:43,47.60,11/16/22,47.07,195530.0,19.27,17.22,3.19,NASDAQ,Chuck Robbins,"Dec 10, 1984","83,300",13.63,4.81,2670.0,19.59,0.86,3.96,23.17,19.78,93.05,52.78,40.27,4110.0,4.79,9.46,17.61,3960.0,-799.0,-2860.0,213.0,3100.0,5.67,4.68,-10.40,-15.19,-1.00,-15.28,-3.05,-0.93,15.61,21.67,28.09,113.63,35.39,San Jose,California,United States,47.26,47.74,38.60,64.14

# Change the date format, and keep only the founding year instead of month and day

In [248]:
df["date_fetched"]=pd.to_datetime(df["date_fetched"])
df["FinReported"]=pd.to_datetime(df["FinReported"])
df["Founded"]=pd.to_datetime(df["Founded"])

In [249]:
df["Founded"]=df["Founded"].dt.strftime('%Y')
df.rename(columns = {"Founded":"Year founded in"}, inplace = True)

df["date_fetched"]=df["date_fetched"].dt.strftime('%d-%m-%Y')
df["FinReported"]=df["FinReported"].dt.strftime('%d-%m-%Y')

In [250]:
df

,Company,date_fetched,time_fetched (UTC),current_index_price,FinReported,Previous close,Market cap ($M),Avg Volume in ($M),P/E ratio,Dividend yield %,Primary exchange,CEO,Year founded in,Employees,Revenue ($B),Operating expense ($B),Net income ($M),Net profit margin,Earnings per share,EBITDA ($B),Effective tax rate %,Cash and short-term investments ($B),Total assets ($B),Total liabilities ($B),Total equity ($B),Shares outstanding ($M),Price to book,Return on assets %,Return on capital %,Cash from operations ($M),Cash from investing ($M),Cash from financing ($M),Net change in cash ($M),Free cash flow ($M),Revenue Y/Y change %,Operating expense Y/Y change %,Net income Y/Y change %,Net profit margin Y/Y change %,EBITDA Y/Y change %,Cash and short-term investments Y/Y change %,Total assets Y/Y change %,Total liabilities Y/Y change %,Cash from operations Y/Y change %,Cash from investing Y/Y change %,Cash from financing Y/Y change %,Net change in cash Y/Y change %,Free cash flow Y/Y change %,HQ City,HQ State,HQ Country,Day low ($),Day high ($),Year low ($),Year high ($)
0,AAPL,29-12-2022,20:32:04,130.07,27-10-2022,126.04,2070000.0,76.69,21.26,0.71,NASDAQ,Tim Cook,1976,"164,000",90.15,13.20,20720.0,22.99,1.29,27.76,15.96,48.30,352.76,302.08,50.67,15910.0,39.64,18.06,34.48,24130.0,-1220.0,-26790.0,-3880.0,20180.0,8.14,15.92,0.83,-6.73,3.68,-22.89,0.50,4.92,19.44,-245.75,-31.46,-694.79,51.61,Cupertino,California,United States,127.73,130.48,125.87,182.94
1,MSFT,29-12-2022,20:32:08,241.39,25-10-2022,234.53,1800000.0,27.37,26.01,1.13,NASDAQ,Satya Nadella,1975,"221,000",50.12,13.15,17560.0,35.03,2.35,24.31,18.62,107.24,359.78,186.22,173.57,7450.0,10.07,14.85,21.71,23200.0,-3130.0,-10880.0,8950.0,15020.0,10.60,15.04,-14.38,-22.59,3.66,-17.87,7.26,1.51,-5.47,3.63,33.13,81.20,-18.12,Redmond,Washington,United States,235.65,241.54,213.43,343.13
2,GOOGL,29-12-2022,20:32:12,88.76,25-10-2022,86.02,1150000.0,28.14,17.96,0,NASDAQ,Sundar Pichai,2015,"186,779",69.09,20.80,13910.0,20.13,1.06,21.18,14.31,116.26,358.26,104.63,253.63,12940.0,4.40,12.01,15.10,23350.0,-833.0,-18100.0,4050.0,14250.0,6.10,26.31,-26.54,-30.78,-12.96,-18.13,3.12,1.74,-8.56,91.71,-18.64,"4,448.31",-16.47,Mountain View,California,United States,86.61,88.81,83.34,151.55
3,TSLA,29-12-2022,20:32:17,121.13,19-10-2022,112.71,379540.0,116.00,37.31,0,NASDAQ,Elon Musk,2003,"99,290",21.45,1.69,3290.0,15.34,1.05,4.64,8.39,21.11,74.43,33.30,41.12,3160.0,8.93,12.90,20.19,5100.0,-2790.0,-712.0,1260.0,2060.0,55.95,2.29,103.46,30.44,67.96,31.14,28.69,13.50,62.06,-50.46,48.44,"1,063.36",27.47,Austin,Texas,United States,117.50,123.57,108.24,402.67
4,AMZN,29-12-2022,20:32:21,84.44,27-10-2022,81.82,860460.0,75.69,77.84,0,NASDAQ,Andy Jassy,1994,"1,544,000",127.10,54.31,2870.0,2.26,0.28,12.73,2.35,58.66,428.36,290.87,137.49,10200.0,6.07,1.49,2.14,11400.0,-15610.0,3020.0,-2520.0,-2400.0,14.70,26.21,-9.00,-20.70,-7.76,-25.73,12.02,11.09,55.94,-5.26,208.65,75.96,23.81,Seattle,Washington,United States,82.55,84.42,81.69,171.40
5,NVDA,29-12-2022,20:32:26,146.28,16-11-2022,140.36,359970.0,44.40,62.22,0.11,NASDAQ,Jensen Huang,1993,"22,473",5.93,2.58,680.0,11.47,0.58,1.01,-10.93,13.14,40.49,19.14,21.35,2460.0,16.23,3.58,4.36,392.0,3150.0,-3750.0,-213.0,528.0,-16.50,31.43,-72.40,-66.94,-66.08,-31.89,-0.35,13.69,-74.19,170.92,-164.30,95.09,-74.44,Santa Clara,California,United States,142.27,146.80,108.13,307.11
6,META,29-12-2022,20:32:31,120.79,26-10-2022,115.62,320230.0,31.36,11.52,0,NASDAQ,Mark Zuckerberg,2004,"87,314",27.71,15.95,4400.0,15.86,1.64,8.25,21.18,41.78,178.89,54.80,124.09,2650.0,2.48,8.71,10.37,9690.0,-9700.0,2150.0,1770.0,-840.88,-4.47,24.49,-52.20,-49.95,-33.55,-28.07,5.49,51.28,-31.21,"-2,839.70",114.08,203.87,-109.66,Menlo Park,California,United States,115.77,120.81,88.09,347.23
7,ASML,29-12-2022,20:32:35,552.89,18-10-2022,531.64,223750.0,1.02,37.38,1.20,NASDAQ,Peter Wennink,1984,"34,720",5.78,1.06,1700.0,29.45,4.29,2.08,12.90,3.36,32.80,24.85,7.96,396.2,26.48,14.98,41.21,1170.0,-508.9,-1610.0,-943.7,1130.0,10.25,33.22,-2.22,-11.30,2.01,-24.53,20.17,57.31,-35.09,-82.01,32.58,-8.73,-33.69,Veldhoven,North Brabant,Netherlands,540.15,555.37,363.15,808.29
8,AVGO,29-12-2022,20:32:39,557.97,08-12-2022,544.89,233090.0,2.42,21.02,3.30,NASDAQ,Hock E. Tan,1961,"20,000",8.93,2.63,3360.0,37.61,10.45,5.29,7.21,12.42,73.25,50.54,22.71,417.89,10.03,13.84,16.25,4580.0,-128.0,-2020.0,2440.0,3360.0,20.56,-8.65,68.88,40.07,26.44,2.08,-3.07,-0.08,29.43,-356.00,20.41,130.53,12.91,San Jose,California,United States,550.50,562.60,415.07,675.70
9,CSCO,29-12-2022,20:32:43,47.60,16-11-2022,47.07,195530.0,19.27,17.22,3.19,NASDAQ,Chuck Robbins,1984,"83,300",13.63,4.81,2670.0,19.59,0.86,3.96,23.17,19.78,93.05,52.78,40.27,4110.0,4.79,9.46,17.61,3960.0,-799.0,-2860.0,213.0,3100.0,5.67,4.68,-10.40,-15.19,-1.00,-15.28,-3.05,-0.93,15.61,21.67,28.09,113.63,35.39,San Jose,California,United States,47.26,47.74,38.60,64.14

# Remove columns with unique values

In [251]:
df.columns[df.nunique()==1]

Index(['date_fetched', 'Primary exchange'], dtype='object')

We will only drop the "Primary exchange" column, date_fetched is useful to make timeseries data

In [252]:
df=df.drop(labels=["Primary exchange"],axis=1)
df

,Company,date_fetched,time_fetched (UTC),current_index_price,FinReported,Previous close,Market cap ($M),Avg Volume in ($M),P/E ratio,Dividend yield %,CEO,Year founded in,Employees,Revenue ($B),Operating expense ($B),Net income ($M),Net profit margin,Earnings per share,EBITDA ($B),Effective tax rate %,Cash and short-term investments ($B),Total assets ($B),Total liabilities ($B),Total equity ($B),Shares outstanding ($M),Price to book,Return on assets %,Return on capital %,Cash from operations ($M),Cash from investing ($M),Cash from financing ($M),Net change in cash ($M),Free cash flow ($M),Revenue Y/Y change %,Operating expense Y/Y change %,Net income Y/Y change %,Net profit margin Y/Y change %,EBITDA Y/Y change %,Cash and short-term investments Y/Y change %,Total assets Y/Y change %,Total liabilities Y/Y change %,Cash from operations Y/Y change %,Cash from investing Y/Y change %,Cash from financing Y/Y change %,Net change in cash Y/Y change %,Free cash flow Y/Y change %,HQ City,HQ State,HQ Country,Day low ($),Day high ($),Year low ($),Year high ($)
0,AAPL,29-12-2022,20:32:04,130.07,27-10-2022,126.04,2070000.0,76.69,21.26,0.71,Tim Cook,1976,"164,000",90.15,13.20,20720.0,22.99,1.29,27.76,15.96,48.30,352.76,302.08,50.67,15910.0,39.64,18.06,34.48,24130.0,-1220.0,-26790.0,-3880.0,20180.0,8.14,15.92,0.83,-6.73,3.68,-22.89,0.50,4.92,19.44,-245.75,-31.46,-694.79,51.61,Cupertino,California,United States,127.73,130.48,125.87,182.94
1,MSFT,29-12-2022,20:32:08,241.39,25-10-2022,234.53,1800000.0,27.37,26.01,1.13,Satya Nadella,1975,"221,000",50.12,13.15,17560.0,35.03,2.35,24.31,18.62,107.24,359.78,186.22,173.57,7450.0,10.07,14.85,21.71,23200.0,-3130.0,-10880.0,8950.0,15020.0,10.60,15.04,-14.38,-22.59,3.66,-17.87,7.26,1.51,-5.47,3.63,33.13,81.20,-18.12,Redmond,Washington,United States,235.65,241.54,213.43,343.13
2,GOOGL,29-12-2022,20:32:12,88.76,25-10-2022,86.02,1150000.0,28.14,17.96,0,Sundar Pichai,2015,"186,779",69.09,20.80,13910.0,20.13,1.06,21.18,14.31,116.26,358.26,104.63,253.63,12940.0,4.40,12.01,15.10,23350.0,-833.0,-18100.0,4050.0,14250.0,6.10,26.31,-26.54,-30.78,-12.96,-18.13,3.12,1.74,-8.56,91.71,-18.64,"4,448.31",-16.47,Mountain View,California,United States,86.61,88.81,83.34,151.55
3,TSLA,29-12-2022,20:32:17,121.13,19-10-2022,112.71,379540.0,116.00,37.31,0,Elon Musk,2003,"99,290",21.45,1.69,3290.0,15.34,1.05,4.64,8.39,21.11,74.43,33.30,41.12,3160.0,8.93,12.90,20.19,5100.0,-2790.0,-712.0,1260.0,2060.0,55.95,2.29,103.46,30.44,67.96,31.14,28.69,13.50,62.06,-50.46,48.44,"1,063.36",27.47,Austin,Texas,United States,117.50,123.57,108.24,402.67
4,AMZN,29-12-2022,20:32:21,84.44,27-10-2022,81.82,860460.0,75.69,77.84,0,Andy Jassy,1994,"1,544,000",127.10,54.31,2870.0,2.26,0.28,12.73,2.35,58.66,428.36,290.87,137.49,10200.0,6.07,1.49,2.14,11400.0,-15610.0,3020.0,-2520.0,-2400.0,14.70,26.21,-9.00,-20.70,-7.76,-25.73,12.02,11.09,55.94,-5.26,208.65,75.96,23.81,Seattle,Washington,United States,82.55,84.42,81.69,171.40
5,NVDA,29-12-2022,20:32:26,146.28,16-11-2022,140.36,359970.0,44.40,62.22,0.11,Jensen Huang,1993,"22,473",5.93,2.58,680.0,11.47,0.58,1.01,-10.93,13.14,40.49,19.14,21.35,2460.0,16.23,3.58,4.36,392.0,3150.0,-3750.0,-213.0,528.0,-16.50,31.43,-72.40,-66.94,-66.08,-31.89,-0.35,13.69,-74.19,170.92,-164.30,95.09,-74.44,Santa Clara,California,United States,142.27,146.80,108.13,307.11
6,META,29-12-2022,20:32:31,120.79,26-10-2022,115.62,320230.0,31.36,11.52,0,Mark Zuckerberg,2004,"87,314",27.71,15.95,4400.0,15.86,1.64,8.25,21.18,41.78,178.89,54.80,124.09,2650.0,2.48,8.71,10.37,9690.0,-9700.0,2150.0,1770.0,-840.88,-4.47,24.49,-52.20,-49.95,-33.55,-28.07,5.49,51.28,-31.21,"-2,839.70",114.08,203.87,-109.66,Menlo Park,California,United States,115.77,120.81,88.09,347.23
7,ASML,29-12-2022,20:32:35,552.89,18-10-2022,531.64,223750.0,1.02,37.38,1.20,Peter Wennink,1984,"34,720",5.78,1.06,1700.0,29.45,4.29,2.08,12.90,3.36,32.80,24.85,7.96,396.2,26.48,14.98,41.21,1170.0,-508.9,-1610.0,-943.7,1130.0,10.25,33.22,-2.22,-11.30,2.01,-24.53,20.17,57.31,-35.09,-82.01,32.58,-8.73,-33.69,Veldhoven,North Brabant,Netherlands,540.15,555.37,363.15,808.29
8,AVGO,29-12-2022,20:32:39,557.97,08-12-2022,544.89,233090.0,2.42,21.02,3.30,Hock E. Tan,1961,"20,000",8.93,2.63,3360.0,37.61,10.45,5.29,7.21,12.42,73.25,50.54,22.71,417.89,10.03,13.84,16.25,4580.0,-128.0,-2020.0,2440.0,3360.0,20.56,-8.65,68.88,40.07,26.44,2.08,-3.07,-0.08,29.43,-356.00,20.41,130.53,12.91,San Jose,California,United States,550.50,562.60,415.07,675.70
9,CSCO,29-12-2022,20:32:43,47.60,16-11-2022,47.07,195530.0,19.27,17.22,3.19,Chuck Robbins,1984,"83,300",13.63,4.81,2670.0,19.59,0.86,3.96,23.17,19.78,93.05,52.78,40.27,4110.0,4.79,9.46,17.61,3960.0,-799.0,-2860.0,213.0,3100.0,5.67,4.68,-10.40,-15.19,-1.00,-15.28,-3.05,-0.93,15.61,21.67,28.09,113.63,35.39,San Jose,California,United States,47.26,47.74,38.60,64.14

## Save the cleaned data in a csv file

In [253]:
df.to_csv(file_address.replace("stock","clean_stock"),index=False)